<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Increment Multiplier</h3>
            <p>The amount of times an increment will be added to the calculated weight.</p>
            <div layout="column">
                <p>E.g. Bench Press, for 12 reps. Increment of 2.5kgs</p>
                <span flex>Multiplier of 1: Bench Press weight is 80kgs + 2.5kgs</span>
                <span flex>Multiplier of 2: Bench Press weight is 80kgs + 5kgs</span>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>