<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Add Program Type</h3>
            <p>A program type is a scaffold outlining the weeks, days, sets and exercises for a custom fitness program.</p> 
            <p>Once created the program type can be used to generate multiple programs.</p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>