<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Exercise Types</h3>
            <p>There are three types of exercise types.</p>
            <div layout="column">
                <span class="padding-bottom-4"><span class="bold-text">Weighted</span>: exercises that required weight (E.g. Bench Press).</span>
                <span class="padding-bottom-4"><span class="bold-text">Non-weighted</span>: exercises that do not require weight (E.g. Situps).</span>
                <span class="padding-bottom-4"><span class="bold-text">Cardio</span>: cardiovascular exercises which require a duration (E.g. Running).</span>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>