<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>One Rep Max Percent</h3>
            <p>A percentage of the one rep max that determines the weight to be used.</p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>