<div layout="column">
    <div class="width-56 height-52" layout="row">
        <md-fab-speed-dial ng-if="moving === false" class="md-scale md-fab-top-left postion-top-0 postion-bottom-0 postion-right-0 postion-left-0 padding-right-16" md-open="isOpen" md-direction="{{direction}}">
            <md-fab-trigger>
                <md-button class="md-fab md-mini" aria-label="Menu">
                    <md-icon md-svg-src="images/icons/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions flex>
                <md-button ng-if="remove" class="md-fab md-mini md-raised" ng-click="removeFunction(value)" md-colors="{ background: 'deep-orange-A700' }" aria-label="Remove">
                    <md-icon md-svg-src="images/icons/remove.svg"></md-icon>
                </md-button>
                <md-button ng-if="edit" class="md-fab md-mini md-raised" ng-click="editFunction(value)" md-colors="{ background: 'deep-orange-A700' }" aria-label="edit">
                    <md-icon md-svg-src="images/icons/edit.svg"></md-icon>
                </md-button>
                <md-button ng-if="duplicate" class="md-fab md-mini md-raised" ng-click="duplicateFunction(value)" md-colors="{ background: 'deep-orange-A700' }" aria-label="duplicate">
                    <md-icon md-svg-src="images/icons/duplicate.svg"></md-icon>
                </md-button>
                <md-button ng-if="move" class="md-fab md-mini md-raised" ng-click="moveClicked()" md-colors="{ background: 'deep-orange-A700' }" aria-label="move">
                    <md-icon md-svg-src="images/icons/move.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

        <div ng-if="moving === true" layout="row" layout-align="center center">
            <md-button class="md-fab md-mini md-raised" ng-click="moveDown()" md-colors="{ background: 'deep-orange-A700' }" aria-label="Move Down">
                <md-icon md-svg-src="images/icons/arrowDown.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-raised" ng-click="moveUp()" md-colors="{ background: 'deep-orange-A700' }" aria-label="Move Up">
                <md-icon md-svg-src="images/icons/arrowUp.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-raised" ng-click="moveDone()" md-colors="{ background: 'deep-orange-A700' }" aria-label="Move Done">
                <md-icon md-svg-src="images/icons/check.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>