<div layout="column">
    <md-card ng-if="defined()">
        <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
            <md-card-header-text layout="row">
                <div layout="column" layout-align="center none" flex="grow">
                    <span class="font-weight-600">{{quickCompleteProgram.name}}</span>
                    <span>{{week.name}} | {{day.name}}</span>
                    <span flex="nogrow">{{set.numberOfSets}} sets</span>
                </div>
            </md-card-header-text>
            <md-checkbox class="no-margin" ng-model="set.complete" ng-change="calculatePercentageComplete(day)" aria-label="complete set" flex="nogrow"></md-checkbox>
            <help template-url="helpTemplateUrl"></help>
        </md-card-header>
        <md-progress-linear ng-if="quickCompleteProgram.percentComplete >= 0" md-mode="determinate" value="{{quickCompleteProgram.percentComplete}}"></md-progress-linear>
        <md-card-content class="no-padding-top no-padding-bottom no-padding-left no-padding-right">
            <md-list>
                <span class="body-list-item">
                    <md-list-item class="md-2-line" ng-repeat="setExercise in exercises" flex>
                        <div ng-if="setExercise.exercise.exerciseType.id === 0" class="md-list-item-text" flex>
                            <h3 flex>{{setExercise.exercise.name}}</h3>
                            <p>{{setExercise.numberOfReps}} reps at {{setExercise.weight}}{{unit.textName}}</p>
                        </div>
                        <div ng-if="setExercise.exercise.exerciseType.id === 1" class="md-list-item-text">
                            <h3 flex>{{setExercise.exercise.name}}</h3>
                            <p>{{setExercise.numberOfReps}} reps</p>
                        </div>
                        <div ng-if="setExercise.exercise.exerciseType.id === 2" class="md-list-item-text">
                            <h3 flex>{{setExercise.exercise.name}}</h3>
                            <p>Duration: {{setExercise.duration}}</p>
                        </div>
                    </md-list-item>
                </span>
            </md-list>
        </md-card-content>
    </md-card>

    <md-card class="quickcomplete" ng-if="!defined()" md-colors="{ 'background' : 'primary-50' }">
        <md-card-header class="no-padding-right">
            <md-card-header-text layout="row">
                <div layout="column" layout-align="center none" flex="grow">
                    <span class="font-weight-600">No most recent program</span>
                </div>
            </md-card-header-text>
            <help template-url="helpTemplateUrl"></help>
        </md-card-header>
    </md-card>
</div>