<div layout="column">
    <span ng-if="values && values.length > 0" flex>
        <md-list>
            <md-list-item class="md-3-line background-white margin-bottom-10" ng-repeat="value in values" ng-href="{{value.href}}" md-whiteframe="2">
                <div class="padding-top-24 padding-bottom-16 padding-right-16 padding-left-16" layout="row" flex="100" md-colors="{ background: '{{value.color}}' }">
                    <div layout="column" flex>
                        <div layout="column" flex>
                            <p class="list-text headline truncate-text">{{value.text}}</p>
                            <p class="list-text subhead truncate-text">{{value.secondText}}</p>
                            <p class="list-text subhead truncate-text">{{value.thirdText}}</p>
                        </div>
                    </div>
                    <div layout="row" flex="none" layout-align="center start">
                        <md-button ng-if="value.editable" class="md-icon-button" md-colors="{ background: 'orange-300' }" ng-click="editFunction(value)" aria-label="Edit">
                            <md-icon md-svg-src="images/icons/edit.svg"></md-icon>
                        </md-button>
                        <md-button ng-if="value.removable" class="md-icon-button" md-colors="{ background: 'red-300' }" class="md-raised" ng-click="removeFunction(value)" aria-label="Remove">
                            <md-icon md-svg-src="images/icons/remove.svg"></md-icon>
                        </md-button>              
                    </div>
                    <md-progress-linear ng-if="value.percentage >= 0" class="list-progress" md-mode="determinate" value="{{value.percentage}}"></md-progress-linear>
                </div>
            </md-list-item> 
        </md-list>
    </span>
</div>