@font-face {
    font-family: 'hemiHead';
    src: url('fonts/hemihead.ttf') format('truetype');
}

.title-text {
    font-family: "hemiHead";
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.padding-left-14 {
    padding-left: 14px !important;
}

.padding-right-14 {
    padding-right: 14px !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.margin-right-16 {
    margin-right: 16px !important;
}


.no-margin-bottom {
    margin-bottom: 0 !important;
}

.padding-left-8 {
    padding-left: 8px !important;
}

.padding-left-4 {
    padding-left: 4px !important;
}

.padding-right-8 {
    padding-right: 8px !important;
}

.padding-right-4 {
    padding-right: 4px !important;
}

.padding-top-8 {
    padding-top: 8px !important;
}

.padding-top-4 {
    padding-top: 4px !important;
}

.padding-bottom-8 {
    padding-bottom: 8px !important;
}

.padding-bottom-4 {
    padding-bottom: 4px !important;
}

.padding-left-12 {
    padding-left: 12px !important;
}

.padding-right-12 {
    padding-right: 12px !important;
}

.padding-left-14 {
    padding-left: 14px !important;
}

.padding-right-14 {
    padding-right: 14px !important;
}

.padding-left-16 {
    padding-left: 16px !important;
}

.padding-right-16 {
    padding-right: 16px !important;
}

.padding-top-16 {
    padding-top: 16px !important;
}

.padding-top-24 {
    padding-top: 24px !important;
}

.padding-bottom-16 {
    padding-bottom: 16px !important;
}

.padding-bottom-24 {
    padding-bottom: 24px !important;
}

.margin-bottom-16 {
    margin-bottom: 16px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.margin-top-4 { 
    margin-top: 4px !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.margin-left-8 { 
    margin-left: 8px !important;
}

.margin-right-8 { 
    margin-right: 8px !important;
}

.background-white {
    background-color: white !important;
}

.truncate-text {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.center-text {
    text-align: center;
}

.headline {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
}

.subhead {
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: .010em !important;
    line-height: 24px !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-48 {
    font-size: 48px !important;
}

.list-text {
    margin: 0;
}

.list-progress {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
}

md-list-item .md-button {
    padding: 0 !important;
}

.quickcomplete {
    min-height: 149px !important;
    max-height: 149px !important;
}

.bold-text { 
    font-weight: 700;
}

.icon-text {
    font-size: xx-small !important;
    text-align: center !important;
}

.icon-width {
    max-width: 64px !important;
    min-width: 64px !important;
}

.navbar-height {
    max-height: 56px !important;
    min-height: 56px !important;
}

.black-icon svg {
    fill: black !important;
}

.header-list-item > md-list-item, .header-list-item .md-list-item-inner {
    height: 60px !important;
    min-height: 60px !important;
}

.body-list-item > md-list-item, .body-list-item .md-list-item-inner {
    height: 60px !important;
    min-height: 60px !important;
}

.max-height-136 {
    max-height: 136px !important;
    overflow: auto;
}

.width-56 {
    min-width: 56px !important;
}

.height-52 {
    min-height: 52px !important;
}

.postion-top-0 {
    top: 0 !important;
}

.postion-bottom-0 {
    bottom: 0 !important;
}

.postion-left-0 {
    left: 0 !important;
}

.postion-right-0 {
    right: 0 !important;
}

.width-80 {
    min-width: 80px !important;
}

.width-44 {
    min-width: 44px !important;
}

.no-error-spacer .md-errors-spacer{
 min-height: 0px !important;
}

.plate-dimensions {
    max-height: 80px !important;
    min-height: 80px !important;
    max-width: 80px !important;
    min-width: 65px !important;
}