<div layout="row">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <a class="icon-width" ng-click="toggleSidenav()" aria-label="Sidenav Menu">
                <div class="navbar-height" layout="column" layout-align="center center">
                    <div>
                        <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
                    </div>
                    <div>
                        <span class="icon-text truncate-text">Menu</span>
                    </div>
                </div>
            </a>
            <span flex></span>
            <h2 class="title-text">POWERHOUSE</h2>
            <span flex></span>
            <a class="icon-width" ng-href="#/" aria-label="dashboard">
                <div class="navbar-height" layout="column" layout-align="center center">
                    <div>
                        <md-icon md-svg-icon="images/icons/dashboard.svg"></md-icon>
                    </div>
                    <div>
                        <span class="icon-text truncate-text">Dashboard</span>
                    </div>
                </div>
            </a>
        </div>
    </md-toolbar>

    <md-sidenav md-colors="{ 'background': 'primary-50' }" md-component-id="sidenav" class="md-sidenav-left" md-disable-scroll-target md-whiteframe="4">
        <md-content md-colors="{ 'background': 'primary-50' }" layout-padding>
            <md-list>
                <md-list-item ng-repeat="menuItems in sideMenuItems" ng-click="toggleSidenav()" ng-href="{{menuItems.href}}">
                    <div layout="row" layout-align="center center" flex>
                        <md-icon class="margin-right-16" md-svg-icon="{{menuItems.icon}}" flex="nogrow"></md-icon>
                        <h3 flex="grow">{{menuItems.text}}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>