<div layout="column">
    <form name="addProgramTypeSetNumberOfSetsForm" layout="column">
        <md-input-container class="no-margin-top no-margin-bottom">
            <label>Number of Sets</label>
            <input name="numberOfSetsInput" ng-model="numberOfSets" type="number" min="0" step="1" required md-no-asterisk="true">
            <div ng-messages="addProgramTypeSetNumberOfSetsForm.numberOfSetsInput.$error">
                <div ng-message="required">Number of sets are required.</div>
                <div ng-message="min">Must be greater than 0.</div>
            </div>            
        </md-input-container>
    </form>
</div>