<div layout="column">
    <form name="addProgramTypeSetTypeForm" layout="column" class="no-padding-bottom">
        <md-input-container>
            <md-select ng-model="setType" aria-label="Set Type Select">
                <md-option ng-repeat="type in setTypes" ng-selected="setType.id === type.id" ng-value="type">{{type.name}}</md-option>
            </md-select>
        </md-input-container>
    </form>
</div>