<div class="column">
    <md-card md-colors="{ background: 'orange-200' }">
        <md-card-title class="padding-top-16 padding-bottom-8">
            <md-card-title-text layout-align="center center">{{message}}</md-card-title-text>
        </md-card-title>
        <md-card-actions class="margin-bottom-16" layout="column" layout-align="center center">
            <md-button class="md-raised" md-colors="{ background: 'orange-700', color: 'grey-900' }" ng-click="buttonClicked()">{{buttonText}}</md-button>
        </md-card-actions>
    </md-card>
</div>