<div layout="column" ng-class="{ 'no-padding-right': true, 'no-padding-left': true, 'no-padding-bottom': true }" layout-padding>
    <span class="md-subhead">Sets</span>
    <md-divider></md-divider>

    <md-list ng-if="hasConfirmed()" flex>
        <md-list-item class="md-2-line secondary-button-padding" ng-repeat="set in programTypeSets" ng-if="set.confirmed === true">
            <div class="md-list-item-text" layout="column">
                <h3>Set type: {{set.setType.name}}</h3>
                <h4>Exercises: {{set.exercises.length}}, Sets: {{set.numberOfSets}}</h4>
            </div>
            <div layout="row" class="md-secondary">
                <options-button value="set" remove="remove" remove-function="removeSet" edit="edit" edit-function="editSet"
                    duplicate="duplicate" duplicate-function="duplicateSet" move="move" move-function="moveSet"></options-button>
            </div>
        </md-list-item>
    </md-list>
    
    <span ng-repeat="set in programTypeSets" ng-if="set.confirmed === false" ng-class="{ 'no-padding-right': true, 'no-padding-left': true }">
        <add-program-type-set-type set-type="set.setType"></add-program-type-set-type>
        <add-program-type-set-type-normal ng-if="set.setType.id === 0" exercises="exercises" set="set"></add-program-type-set-type-normal>
        <add-program-type-set-type-superset ng-if="set.setType.id === 1" exercises="exercises" set="set"></add-program-type-set-type-superset>

        <add-remove add-function="confirmSet(set)" remove-function="removeSet(set)" invalid-function="isInvalid(set)" name="'Set'"></add-remove>
    </span>
    
    <div layout="column" ng-class="{ 'no-padding-bottom': true, 'no-padding-top': true }" layout-align="center center">
        <md-button class="md-primary md-raised" ng-click="addSet()" aria-label="Add Set">
            <div layout="row" layout-align="center center">
                <md-icon md-svg-src="images/icons/add.svg"></md-icon>
                <span flex>Set</span>
            </div>
        </md-button>
    </div>
</div>