<div layout="column">
  <md-grid-list md-cols="4" md-row-height="1:1" md-gutter="4px">
    <md-grid-tile ng-repeat="plate in plates" md-colors="{ background: '{{plate.color}}' }">
        <div layout="column">
            <div layout="column" layout-align="center center">
                <span class="font-weight-600">{{plate.value}}{{unit.textName}}</span>
            </div>
            <div class="padding-top-8" layout="column" layout-align="center center">
                <span class="font-weight-600" ng-if="plate.number">{{plate.number}}</span>
                <span class="font-weight-600" ng-if="!plate.number">0</span>
            </div>
        </div>
    </md-grid-tile>
  </md-grid-list>
</div>