<div layout="column">
    <add-program-type-header program-type-name="programTypeName" level="level" description="description"></add-program-type-header>
    <add-program-type-exercise program-type-exercises="exercises"></add-program-type-exercise>
    <add-program-type-week program-type-weeks="weeks"></add-program-type-week>
    <add-remove add-function="addFunction(programTypeName, level, description, exercises, weeks)" remove-function="removeFunction()" name="'Type'" 
        invalid-function="invalidFunction(programTypeName, level, description, exercises, weeks)"></add-remove>
</div>