<div layout="column">
    <md-card md-colors="{ 'background': '{{highlightColor}}' }">
        <md-card-header class="padding-top-8 padding-bottom-8">
            <md-card-header-text>
                <span class="font-size-16 font-weight-600">{{headerText}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-title class="no-padding-top">
            <md-card-title-text layout-align="center center">
                <span class="font-size-48 center-text">{{highlightText}}</span>
                <span class="md-subhead no-padding-top center-text">{{subheadText}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>