<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h3>Reset</h3>
                <p>This will reset the application back to it's default state.</p>
                <p class="font-weight-700">This means that:</p>
                <p>- All programs will be removed</p>
                <p>- All custom program types will be removed</p>
                <p>- Custom setting will be restored</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="hideDialog()">Ok</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>