<div layout="column">
    <div layout="row">
        <div layout="column" layout-align="center none" flex="grow">
            <md-button class="md-raised md-warn" ng-click="resetClicked()">Reset All</md-button>
        </div>
        <help template-url="helpResetSetting" flex="nogrow"></help>
    </div>
</div>