<div layout="column">
    <md-card>
        <md-card-header>
            <md-card-header-text>Exercises</md-card-header-text>
        </md-card-header>
        <md-card-content ng-class="{ 'no-padding-top' : true, 'no-padding-bottom' : true }">
            <div layout="column">
                <md-list ng-if="hasConfirmed()" flex>
                    <md-list-item class="md-2-line secondary-button-padding" ng-repeat="exercise in programTypeExercises" ng-if="exercise.confirmed === true">
                        <div class="md-list-item-text" layout="column">
                            <h3>Name: {{exercise.name}}</h3>
                            <h4>Type: {{exercise.exerciseType.name}}</h4>
                        </div>
                        <div layout="column" class="md-secondary" layout-align="center center">
                            <options-button value="exercise" remove="remove" remove-function="removeExercise" edit="edit" edit-function="editExercise"></options-button>
                        </div>
                    </md-list-item>
                </md-list>
                
                <form name="programTypeExerciseForm" layout="column" ng-repeat="exercise in programTypeExercises" ng-if="exercise.confirmed === false">
                    <md-input-container ng-class="{ 'no-margin-top': true, 'no-margin-bottom': true }" flex="100">
                        <label>Exercise Name</label>
                        <input name="programTypeExerciseNameInput" ng-model="exercise.name" required md-no-asterisk="true">
                        <div ng-messages="programTypeExerciseForm.programTypeExerciseNameInput.$error">
                            <div ng-message="required">An exercise name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container ng-class="{ 'no-margin-top': true, 'no-margin-bottom': true }" flex="100">
                        <div layout="row">
                            <div flex="grow">
                                <md-select ng-class="{ 'no-margin-top': true, 'padding-top-4': true }"name="programTypeExerciseTypeSelect" ng-model="exercise.exerciseType" placeholder="Exercise Type" required md-no-asterisk="true">
                                    <md-option ng-repeat="exerciseType in exerciseTypes" ng-selected="exercise.exerciseType.id === exerciseType.id" ng-value="exerciseType">{{exerciseType.name}}</md-option>
                                </md-select>
                                <div ng-messages="programTypeExerciseForm.programTypeExerciseTypeSelect.$error">
                                    <div ng-message="required">An exercise type is required.</div>
                                </div>
                            </div>
                            <div>
                                <help template-url="helpAddProgramTypeExerciseTypeUrl"></help>
                            </div>
                        </div>
                    </md-input-container>

                    <add-remove add-function="confirmExercise(exercise)" remove-function="removeExercise(exercise)" invalid-function="isInvalid(exercise)" name="'Exercise'"></add-remove>
                </form>
                
                <div ng-class="{ 'padding-bottom-8': true }" layout="column" layout-align="center center">
                    <md-button class="md-primary md-raised" ng-click="addExercise()" aria-label="Add Exercise">
                        <div layout="row" layout-align="center center">
                            <md-icon md-svg-src="images/icons/add.svg"></md-icon>
                            <span flex>Exercise</span>
                        </div>
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>