<div layout="row">
    <md-button class="md-raised flex" md-colors="{ background: 'green-600'}" ng-click="addFunction()" ng-disabled="invalidFunction()" aria-label="Add">
        <div layout="row" layout-align="center center">
            <md-icon md-svg-src="images/icons/check.svg" flex="none"></md-icon>
            <span flex>{{name}}</span>
        </div>
    </md-button>
    <md-button class="md-raised flex" md-colors="{ background: 'deep-orange-600'}" ng-click="removeFunction()" aria-label="Remove">
        <div layout="row" layout-align="center center">
            <md-icon md-svg-src="images/icons/remove.svg" flex="none"></md-icon>
            <span flex>{{name}}</span>
        </div>
    </md-button>
</div>