<div layout="column">
    <md-card>
        <md-card-header>
            <md-card-header-text>Weeks</md-card-header-text>
        </md-card-header>
        <md-card-content ng-class="{ 'no-padding-top' : true, 'no-padding-bottom' : true }">
            <div layout="column">
                <md-list ng-if="hasConfirmed()" flex>
                    <md-list-item class="md-2-line secondary-button-padding" ng-repeat="week in programTypeWeeks" ng-if="week.confirmed === true">
                        <div class="md-list-item-text" layout="column">
                            <h3>Name: {{week.name}}</h3>
                            <h4>Total Days: {{week.days.length}}</h4>
                        </div>
                        <div layout="row" class="md-secondary">
                            <options-button value="week" remove="remove" remove-function="removeWeek" edit="edit" edit-function="editWeek"
                                duplicate="duplicate" duplicate-function="duplicateWeek" move="move" move-function="moveWeek"></options-button>
                        </div>
                    </md-list-item>
                </md-list>
                
                <span ng-repeat="week in programTypeWeeks" ng-if="week.confirmed === false" ng-class="{ 'no-padding-right': true, 'no-padding-left': true }">
                    <form name="programTypeWeekForm" layout="column">
                        <md-input-container ng-class="{ 'no-margin-top': true, 'no-margin-bottom': true }" flex="100">
                            <label>Week Name</label>
                            <input name="programTypeWeekNameInput" ng-model="week.name" required md-no-asterisk="true">
                            <div ng-messages="programTypeWeekForm.programTypeWeekNameInput.$error">
                                <div ng-message="required">A week name is required.</div>
                            </div>
                        </md-input-container>
                    </form>

                    <add-program-type-day program-type-days="week.days"></add-program-type-day>
                    <add-remove add-function="confirmWeek(week)" remove-function="removeWeek(week)" invalid-function="isInvalid(week)" name="'Week'"></add-remove>
                </span>
                
                <div ng-class="{ 'padding-bottom-8': true }" layout="column" layout-align="center center">
                    <md-button class="md-primary md-raised" ng-click="addWeek()" aria-label="Add Week">
                        <div layout="row" layout-align="center center">
                            <md-icon md-svg-src="images/icons/add.svg"></md-icon>
                            <span flex>Week</span>
                        </div>
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>