<div layout="row">
    <md-toolbar md-colors="{ background: 'primary-50'}">
        <div class="md-toolbar-tools">
        
            <a class="icon-width" ng-href="#/add-program" aria-label="Add Program">
                <div class="navbar-height" layout="column" layout-align="center center">
                    <div>
                        <md-icon class="black-icon" md-svg-icon="images/icons/checkBlack.svg"></md-icon>
                    </div>
                    <div>
                        <span class="icon-text truncate-text">Add Program</span>
                    </div>
                </div>
            </a>

            <a class="icon-width" ng-href="#/program-list" aria-label="Program List">
                <div class="navbar-height" layout="column" layout-align="center center">
                    <div>
                        <md-icon class="black-icon" md-svg-icon="images/icons/listCheckBlack.svg"></md-icon>
                    </div>
                    <div>
                        <span class="icon-text truncate-text">Program List</span>
                    </div>
                </div>
            </a>

            <span flex></span>

            <span flex></span>
            
            <a class="icon-width" ng-href="#/add-program-type" aria-label="Add Program Type">
                <div class="navbar-height" layout="column" layout-align="center center">
                    <div>
                        <md-icon class="black-icon" md-svg-icon="images/icons/addBlack.svg"></md-icon>
                    </div>
                    <div>
                        <span class="icon-text truncate-text">Add Type</span>
                    </div>
                </div>
            </a>

            <a class="icon-width" ng-href="#/program-type-list" aria-label="Program Type List">
                <div class="navbar-height" layout="column" layout-align="center center">
                    <div>
                        <md-icon class="black-icon" md-svg-icon="images/icons/listAddBlack.svg"></md-icon>
                    </div>
                    <div>
                        <span class="icon-text truncate-text">Type List</span>
                    </div>
                </div>
            </a>

        </div>
    </md-toolbar>
</div>