<div layout="column" layout-padding>
    <div layout="column">
        <!-- Target Weight and Barbell Weight Card -->
        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="row" layout-align="center center" flex="grow">
                        <span class="font-weight-600" flex="grow">Barbell Plate Calculator</span>
                        <help template-url="helpUrl" flex="nogrow"></help>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <form name="barbellPlateCalculatorForm" layout="column">
                    <md-input-container class="no-margin-top margin-bottom-8">
                        <label>Target Weight ({{unit.textName}})</label>
                        <input name="targetWeight" ng-model="targetWeight" type="number" step="{{unit.interval}}" min="0" required md-no-asterisk="true">
                        <div ng-messages="barbellPlateCalculatorForm.targetWeight.$error">
                            <div ng-message="required">A target weight is required.</div>
                            <div ng-message="min">Must be greater than 0.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="no-margin-top no-margin-bottom">
                        <label>Barbell Weight ({{unit.textName}})</label>
                        <input name="barbellWeight" ng-model="barbellWeight" type="number" step="{{unit.interval}}" min="0" required md-no-asterisk="true">
                        <div ng-messages="barbellPlateCalculatorForm.barbellWeight.$error">
                            <div ng-message="required">A barbell weight is required.</div>
                            <div ng-message="min">Must be greater than 0.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>

        <!-- Barbell Plates Card -->
        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="column" layout-align="center none" flex="grow">
                        <span class="font-weight-600">Barbell Plates</span>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout="column">
                <p class="font-weight-600">On each side of the bar</p>
                <barbell-plates unit="unit" plates="plates"></barbell-plates>
            </md-card-content>
        </md-card>

        <!-- Plates Available Card -->
        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="column" layout-align="center none" flex="grow">
                        <span class="font-weight-600">Plate Configuration</span>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div layout="row" layout-align="none center">
                    <div layout="column">
                        <p class="width-44 font-weight-600"></p>
                    </div>
                    <div class="width-80 padding-left-8 padding-right-8" layout="column" layout-align="center center">
                        <p class="font-weight-600">Plate</p>
                    </div>
                    <div layout="column" layout-align="center center" flex>
                        <p class="font-weight-600" flex>Plates Available</p>
                    </div>
                </div>
                <div layout="row" class="margin-bottom-16" ng-repeat="currentWeight in currentWeights.weights" layout-align="none center">
                    <md-switch ng-model="currentWeight.enabled" aria-label="Current Weight Switch"></md-switch>
                    <div class="width-80 padding-left-8 padding-right-8" layout="column" layout-align="center center">
                        <span class="font-weight-600">{{currentWeight.value}}{{unit.textName}}</span>
                    </div>
                    <div layout="column" flex>
                        <md-select class="no-margin-top no-margin-bottom" ng-model="currentWeight.available" placeholder="Amount Available" ng-disabled="!currentWeight.enabled">
                            <md-option ng-repeat="value in range" ng-selected="currentWeight.available === value + 1" ng-value="{{value + 1}}">{{value + 1}}</md-option>
                        </md-select>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>