<div layout="column" layout-padding>
    <div layout="column">
        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="column" layout-align="center none" flex="grow">
                        <span class="font-weight-600">Contact</span>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div layout="row" layout-align="center center" flex>
                    <md-icon class="margin-right-16" md-svg-icon="images/icons/email.svg" flex="nogrow"></md-icon>
                    <span flex="grow">{{email}}</span>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>