<div layout="column" layout-padding>
    <add-program program-name="programName" program-type="programType" increment="increment" exercises="exercises" add-function="addFunction" remove-function="removeFunction" invalid-function="invalidFunction"></add-program>
</div>
