<div layout="column" layout-padding>
    <add-program-type program-type-name="programTypeName" level="level" description="description" exercises="exercises" weeks="weeks" add-function="addFunction" remove-function="removeFunction" invalid-function="invalidFunction"></add-program-type>
</div>
