<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>One Rep Max Calculator</h3>
            <p>A one rep max (ORM) is the maximum amount of weight that can be lifted in a single repetition for a given exercise.</p>
            <p>This calculator makes it easy to calculate an estimated ORM by simply inputing a weight amount and the number of repetitions performed.</p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>