<div layout="column" layout-padding>
    <div layout="column">
        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="column" layout-align="center none" flex="grow">
                        <span class="font-weight-600">Help</span>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout="column">
                <div class="padding-bottom-24" layout="column">
                    <span class="padding-bottom-4 font-weight-600">About</span>
                    <md-divider></md-divider>
                    <p class="no-margin-bottom">Powerhouse is an application that makes it easy to track tailored workout programs.</p>
                    <p class="no-margin-bottom">Custom programs can be entered, allowing for unlimited customization and freedom to design and plan workouts.</p>
                </div>
                <div class="padding-bottom-24" layout="column">
                    <span class="padding-bottom-4 font-weight-600">Getting Started</span>
                    <md-divider></md-divider>
                    <p>To get started simply add a new program based off of a pre-defined program type or start by defining a program type yourself.</p>
                    <div layout="row" layout-align="center center">
                        <div layout="column" flex>
                            <md-button class="md-raised" ng-href="#/add-program">Add Program</md-button>
                        </div>
                        <div layout="column" flex>
                            <md-button class="md-raised" ng-href="#/add-program-type">Add Type</md-button>
                        </div>
                    </div>
                    <p class="no-margin-bottom">Once the program is created the application will automatically calculate your tailored workout.</p>
                    <p>From here find your program in the program list, once found click on the program to view and complete the components of the workout.</p>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-href="#/program-list">Program List</md-button>
                    </div>
                </div>
                <div class="padding-bottom-24" layout="column">
                    <span class="padding-bottom-4 font-weight-600">Programs</span>
                    <md-divider></md-divider>
                    <p class="no-margin-bottom">A program is a tailored workout based off of a program type.</p>
                    <p class="no-margin-bottom">Each program will contain a number of weeks and days. Each day will have a number of sets with exercises that are intented to be complete.</p>
                    <p>Once a set exercise is complete mark it as done by checking the checkbox. This will automatically update the percentage completion of the program.</p>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-href="#/add-program">Add Program</md-button>
                    </div>
                </div>
                <div class="padding-bottom-24" layout="column">
                    <span class="padding-bottom-4 font-weight-600">Program Types</span>
                    <md-divider></md-divider>
                    <p class="no-margin-bottom">A program type is a scaffold used to create tailored workouts. Complete customization is available to cater for a wide range of potential workouts.</p>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-href="#/add-program-type">Add Program Type</md-button>
                    </div>
                </div>               
            </md-card-content>
        </md-card>
    </div>
</div>
