<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Barbell Plate Calculator</h3>
            <p>First configure the amount and weight denominations that are available.</p>
            <p>Enter the barbell weight (usually 20kgs or 45lbs) and then enter the required total target weight.</p>
            <p>The plate combinations for one side of the barbell will be shown.</p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>