<div layout="column" layout-padding>
    <div layout="column">
        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="row" layout-align="none center" flex="grow">
                        <span class="font-weight-600" flex="grow">One Rep Max Calculator</span>
                        <help template-url="helpOneRepMaxCalculatorUrl" flex="nogrow"></help>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="padding-top-8" layout="column">
                    
                    <form name="oneRepMaxCalculatorForm" layout="column">
                        <md-input-container class="no-margin-top no-margin-bottom">
                            <label>Weight Lifted ({{unit.textName}})</label>
                            <input name="weightLifted" ng-model="weightLifted" type="number" min="0" step="1" required md-no-asterisk="true">
                            <div ng-messages="oneRepMaxCalculatorForm.weightLifted.$error">
                                <div ng-message="required">The amount of weight is required.</div>
                                <div ng-message="min">Must be greater than 0.</div>
                            </div>            
                        </md-input-container>
                        <md-input-container class="no-margin-top no-margin-bottom">
                            <label>Number of Reps</label>
                            <input name="numberOfReps" ng-model="numberOfReps" type="number" min="0" max="12" step="1" required md-no-asterisk="true">
                            <div ng-messages="oneRepMaxCalculatorForm.numberOfReps.$error">
                                <div ng-message="required">The number of reps is required.</div>
                                <div ng-message="min">Must be greater than 0.</div>
                                <div ng-message="max">Must be less than 12.</div>
                            </div>            
                        </md-input-container>
                    </form>
                </div>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="column" layout-align="center none" flex="grow">
                        <span class="font-weight-600">One Rep Max Percentages</span>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div layout="column">

                    <md-list>
                        <span ng-repeat="oRMPercentage in oRMPercentages">
                            <md-list-item class="md-2-line">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{oRMPercentage.name}}</h3>
                                    <p>{{oRMPercentage.value}}{{unit.textName}}</p>
                                </div>
                            </md-list-item>
                            <md-divider ng-if="!$last"></md-divider>
                        </span>
                    </md-list>

                </div>
            </md-card-content>
        </md-card>

    </div>
</div>