<div layout="column" layout-padding>
    
    <div layout="column">
        <span ng-if="program !== undefined" flex>
            
            <!-- HEADER -->
            <md-list>
                <md-list-item class="md-3-line background-white margin-bottom-10 no-padding-left no-padding-right" md-whiteframe="2">
                    <div class="padding-top-24 padding-bottom-16 padding-right-16 padding-left-16" layout="row" flex="100">
                        <div layout="column" flex>
                            <div layout="column" flex>
                                <p class="list-text headline truncate-text">{{program.name}}</p>
                                <p class="list-text subhead truncate-text">Total Weeks: {{program.weeks.length}}</p>
                                <p class="list-text subhead truncate-text">Increment: {{program.increment}}{{unit.textName}}</p>
                            </div>
                        </div>
                        <div layout="row" flex="none" layout-align="center start">
                            <md-button class="md-icon-button" md-colors="{ background: 'orange-300' }" ng-click="editFunction(program)" aria-label="Edit">
                                <md-icon md-svg-src="images/icons/edit.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" md-colors="{ background: 'red-300' }" class="md-raised" ng-click="removeFunction(program)" aria-label="Remove">
                                <md-icon md-svg-src="images/icons/remove.svg"></md-icon>
                            </md-button>                
                        </div>
                    </div>
                    <md-progress-linear class="list-progress" md-mode="determinate" value="{{program.percentComplete}}"></md-progress-linear>
                </md-list-item> 
            </md-list>

            <!-- BODY -->
            <md-expansion-panel-group>
                <md-expansion-panel ng-repeat="week in program.weeks">
                    <md-expansion-panel-collapsed>
                        <div class="md-title">{{week.name}}</div>
                        <div class="md-summary"></div>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-collapsed>
                    <md-expansion-panel-expanded>
                        <md-expansion-panel-header md-no-sticky="true" ng-click="$panel.collapse()">
                            <div class="md-title">{{week.name}}</div>
                            <div class="md-summary"></div>
                            <md-expansion-panel-icon></md-expansion-panel-icon>
                        </md-expansion-panel-header>
                        <md-expansion-panel-content>
                            
                            <md-list class="no-padding-bottom" ng-repeat="day in week.days" flex>
                                <p class="no-margin-top">{{day.name}}</p>
                                <md-divider></md-divider>

                                <span ng-repeat="set in day.sets">
                                    <span>
                                        <md-list-item class="md-2-line" ng-click="null" md-colors="{ background: 'primary-50' }" flex>
                                            <div class="md-list-item-text padding-left-16">
                                                <h3 flex>Set type: {{set.setType.name}}</h3>
                                                <p>Number of sets: {{set.numberOfSets}}</p>
                                                <md-checkbox class="margin-right-16 md-secondary" ng-model="set.complete" ng-change="calculatePercentageComplete(day)" aria-label="Complete Set"></md-checkbox>
                                            </div>
                                        </md-list-item>
                                    </span>
                                    <span class="body-list-item">
                                        <md-list-item class="md-2-line" ng-repeat="setExercise in set.exercises" flex>
                                            <div ng-if="setExercise.exercise.exerciseType.id === 0" class="md-list-item-text" flex>
                                                <h3 flex>{{setExercise.exercise.name}}</h3>
                                                <p>{{setExercise.numberOfReps}} reps at {{setExercise.weight}}{{unit.textName}}</p>
                                            </div>
                                            <div ng-if="setExercise.exercise.exerciseType.id === 1" class="md-list-item-text">
                                                <h3 flex>{{setExercise.exercise.name}}</h3>
                                                <p>{{setExercise.numberOfReps}} reps</p>
                                            </div>
                                            <div ng-if="setExercise.exercise.exerciseType.id === 2" class="md-list-item-text">
                                                <h3 flex>{{setExercise.exercise.name}}</h3>
                                                <p>Duration: {{setExercise.duration}}</p>
                                            </div>
                                        </md-list-item>
                                    </span>
                                    <md-divider></md-divider>
                                </span>

                            </md-list>

                        </md-expansion-panel-content>
                    </md-expansion-panel-expanded>
                </md-expansion-panel>
            </md-expansion-panel-group>


        </span>
    </div>
</div>