<div layout="column" layout-padding>
    <div layout="column">
        <md-card>
            <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
                <md-card-header-text layout="row">
                    <div layout="column" layout-align="center none" flex="grow">
                        <span class="font-weight-600">Settings</span>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <weight-unit-setting></weight-unit-setting>
                <reset-setting></reset-setting>
            </md-card-content>
        </md-card>
    </div>
</div>