<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Welcome to <span class="title-text">POWERHOUSE</span></h3>
            <p>This application enables the progress of gym programs to be tracked, along with the creation of new program scaffolds extremely useful for cases where elaborate workouts are needed to be defined.</p>
            <p>Powerhouse can be broken into <span class="font-weight-600">three</span> main components.</p>
            <p class="no-margin-bottom"><span class="font-weight-600">1.</span> Generating programs</p>
            <p class="no-margin-top no-margin-bottom"><span class="font-weight-600">2.</span> Completing program sets.</p>
            <p class="no-margin-top"><span class="font-weight-600">3.</span> Designing program scaffolds.</p>

            <p class="font-weight-600">Generating Programs</p>
            <p>A new program is created based off of a program scaffold. This will enable a program to be specifically tailored to your fitness level.</p>
            <p>Add a new program by clicking on <span class="font-weight-600">'Add Program'</span> located at the bottom left of the screen.</p>

            <p class="font-weight-600">Completing Program Sets</p>
            <p>Once you have created a new program you are now all set to start completing the generated workouts.</p>
            <p>All programs can be viewed by clicking on the <span class="font-weight-600">'Program List'</span> button in the bottom left corner.</p>
            <p>From this list a program can be selected, displaying the itinerary of the workout where the sets can then be completed.</p>

            <p class="font-weight-600">Designing Program Scaffolds</p>
            <p>By designing a program scaffold you are able to customize the weeks, days, sets and exercises for a given program.</p>
            <p>A program scaffold can be designed by clicking on the <span class="font-weight-600">'Add Type'</span> button in the bottom right corner.</p>
            <p>Once a new scaffold has been designed, new programs are able to be generated from this scaffold.</p>
            
            <div layout="row" layout-align="center center">
                <md-button class="md-raised" ng-href="#/help" ng-click="hideDialog()">More Information</md-button>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Complete Tutorial</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>