<div layout="column">
    <!-- Program Name and Program Type-->
    <md-card>
        <md-card-header layout-align="none center">
            <md-card-header-text>Add Program</md-card-header-text>
            <help template-url="helpAddProgramUrl"></help>
        </md-card-header>
        <md-card-content ng-class="{ 'no-padding-top' : true, 'no-padding-bottom' : true }">
            <form name="addProgramForm" layout="column">
                <md-input-container flex="100" ng-class="{ 'no-margin-top' : true, 'margin-bottom-8' : true }">
                    <label>Program Name</label>
                    <input name="programNameInput" ng-model="programName" required md-no-asterisk="true">
                    <div ng-messages="addProgramForm.programNameInput.$error">
                        <div ng-message="required">A program name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container ng-class="{ 'no-margin-top' : true, 'margin-bottom-8' : true }" flex="grow">
                    <div layout="row">
                        <div flex="grow">
                            <label>Program Increment ({{unit.textName}})</label>
                            <input name="programIncrement" ng-model="increment" type="number" step="{{unit.interval}}" min="0" required md-no-asterisk="true">
                            <div ng-messages="addProgramForm.programIncrement.$error">
                                <div ng-message="required">A program increment is required.</div>
                                <div ng-message="min">A program increment cannot be less than 0.</div>
                            </div>
                        </div>
                        <div>
                            <help template-url="helpAddProgramProgramIncrementUrl"></help>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container ng-class="{ 'no-margin-top' : true, 'margin-bottom-16' : true }">
                    <md-select name="programType" ng-model="programType" placeholder="Select Program Type" required md-no-asterisk="true">
                        <md-option ng-repeat="type in programTypes" ng-selected="programType.id === type.id" ng-value="type">{{type.programTypeName}}</md-option>
                    </md-select>
                    <div ng-messages="addProgramForm.programType.$error">
                        <div ng-message="required">A program type is required.</div>
                    </div>
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
</div>