<div layout="column">
    <add-program-header program-name="programName" program-type="programType" increment="increment"></add-program-header>
    <add-program-exercise exercises="exercises"></add-program-exercise>
    <add-remove add-function="addFunction(programName, programType, increment, exercises)" remove-function="removeFunction()" 
        invalid-function="invalidFunction(programName, programType, increment, exercises)" name="'Program'"></add-remove>
</div>