<div layout="column">
    <md-card ng-if="exercises && exercises.length > 0">
        <md-card-header layout-align="none center">
            <md-card-header-text>Enter One Rep Max</md-card-header-text>
            <help template-url="helpAddProgramOneRepMaxUrl"></help>
        </md-card-header>
        <md-card-content ng-class="{ 'no-padding-top' : true, 'no-padding-bottom' : true }">
            <form name="addProgramExerciseForm" layout="column">
                <md-input-container ng-class="{ 'no-margin-top' : true, 'margin-bottom-8' : true }" ng-repeat="exercise in exercises">
                    <label>{{exercise.name}}</label>
                    <input name="programExerciseORM" ng-model="exercise.oneRepMax" type="number" step="1" min="1" required md-no-asterisk="true">
                    <div ng-messages="addProgramExerciseForm.programExerciseORM.$error">
                        <div ng-message="required">A one rep max is required.</div>
                        <div ng-message="min">Must be greater than 0.</div>
                    </div>
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
</div>