<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>One Rep Max</h3>
            <p>The maximum amount of weight that can be lifted in a single repetition for a given exercise.</p>
            <p>Not sure of your one rep max? Try the calculator by clicking the button below.</p>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised" ng-href="#/one-rep-max-calculator" ng-click="hideDialog()">ORM Calculator</md-button>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>