<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Program Increment</h3>
            <p>To build muscle progressive overloading is needed.</p>
            <p>This value will determine the gradual increase of weight added to each exercise that requires progressive overloading.</p>
            <div layout="column">
                <p>E.g. Bench Press, for 12 reps. Increment of 2.5kgs</p>
                <span flex>Week 1: Bench Press weight is 80kgs</span>
                <span flex>Week 2: Bench Press weight is 80kgs + 2.5kgs</span>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>