<md-dialog aria-label="{{ariaLabel}}">
    <form ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h3>Add Program</h3>
            <p>A program is a fitness plan tailored to your fitness level.</p>
            <p>Once a program is created based off of a program type, you will be able to complete sets within the program maintaining track of your progress.</p>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="hideDialog()">Ok</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>